#welcome-page {
    transform: translate3d(0, 0, 0);
    transition: transform 500ms ease;
    width: 60vw;
    min-height: 100%;
    margin-top: 5vh;
    padding-bottom: 5vh;
}

#welcome-page.moved-content {
    transform: translate3d(-10vw, 0, 0);
    transition: transform 500ms ease;
    margin-top: 5vh;
}

p {
    font-size: 1.3rem;
    line-height: 1.6em;
}

#start-icon:before, #start-icon {
    margin-left: 2vw;
    color: #21BA45;
}

#exercise-helper {
    border-radius: 4px;
    width: 98%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

#exercise-helper p {
    font-size: 1.1em;
    margin: 0;
    align-self: center;
}

#exercise-helper .ui.menu .item {
    padding: 0.4em;
    font-size: 1.9em;
}

#exercise-helper .ui.menu .item > i.icon {
    margin: 0;
}

#exercise-helper .ui.grid > .row {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#exercise-helper .ui.menu .item:hover {
    background: rgba(72, 80, 94, 0.1);
}

#origin-display {
    position: absolute;
    z-index: 1000;
    top: 20%;
    left: 60%;
    width: 35%;
}

#origin-display .content:first-child {
    padding: 10px;
    border-bottom: 1px solid rgba(34, 36, 38, 0.1);
    background-color: var(--yellow-background);
}

#sidebar:after {
    content: "";
    height: 3.5vh;
    display: block;
}

#sidebar.moved-content:after {
    content: "";
    height: 19vh;
    display: block;
}
