.highlight {
    background: var(--teal-background);
    font-weight: 500;
    padding: 1px 4px;
    border-radius: 7px;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 500;
}

.name {
    background: var(--yellow-background);
    padding: 1px 4px;
    border-radius: 7px;
    border: 1px solid var(--yellow-background);
}

.branch-name {
    font-style: italic;
    color: rgba(0, 0, 0, 0.3);
}

.button-container {
    text-align: center;
    margin-top: 9vh;
}

.inside-command {
    font-size: 1.3rem;
    padding: 3px 6px;
    background-color: #F3F4F5;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 7px;
}