.highlight {
    background: var(--teal-background);
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.name {
    background: var(--yellow-background);
}

.branch-name {
    font-style: italic;
    color: rgba(0, 0, 0, 0.3);
}

.button-container {
    text-align: center;
    margin-top: 9vh;
}