body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
  box-sizing: border-box;
    background: #48505e;
}

:root {
    --light-gray: #48505e;
    --console-green: #3ED300;
    --title-icon-color: #DABFFF;
    --yellow: #FBBD08;
    --yellow-background: rgba(251, 189, 8, 0.1);
    --lilac-background: rgba(218, 191, 255, 0.1);
    --teal-background: rgba(0, 181, 173, 0.1);
    --blue-background: rgba(49, 198, 235, 0.2);
    --light-gray-background: rgba(72, 80, 94, 0.8);
    --orange: #fb8008;
    --orange-background: rgba(251, 128, 8, 0.3);
}
